Repository jeongkyun-oh/klaytn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bitaholic, @kjhman21, @hqueue, @KimKyungup, @andybclee, @ehnuje, @smseo

Updated common/* package description (#3733)
  common/fdlimit/doc.go
  common/profile/doc.go
Owners: @andybclee

Removed cnsim package (#3746)
  networks/p2p/simulations/cnsim/cnsim.go
  networks/p2p/simulations/cnsim/cnsim.sh
  networks/p2p/simulations/cnsim/doc.go
Owners: @KimKyungup

Updated consensus/* package description (#3734)
  consensus/istanbul/backend/doc.go
  consensus/istanbul/core/doc.go
  consensus/istanbul/doc.go
  consensus/istanbul/validator/doc.go
Owners: @andybclee

Updated ./CONTRIBUTING.md (#3748)
  CONTRIBUTING.md
Owners: none

Updated crypto package description (#3751)
  crypto/doc.go
Owners: @andybclee

Added a period at the end of line. (#3749)
  console/doc.go
  crypto/ecies/doc.go
Owners: @andybclee

remove Baobabfork code (#3758)
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Update for personal support requests (#3750)
  CONTRIBUTING.md
Owners: none

Remove evm and p2psim for open source (#3747)
  Makefile
  cmd/evm/compiler.go
  cmd/evm/disasm.go
  cmd/evm/doc.go
  cmd/evm/internal/compiler/compiler.go
  cmd/evm/internal/compiler/doc.go
  cmd/evm/main.go
  cmd/evm/runner.go
  cmd/evm/staterunner.go
  cmd/p2psim/doc.go
  cmd/p2psim/main.go
Owners: @bitaholic

Updated utils/build package description (#3754)
  utils/build/doc.go
Owners: @bitaholic

Updated networks/p2p/examples package description (#3755)
  networks/p2p/simulations/examples/doc.go
Owners: @KimKyungup

Updated abigen package description (#3756)
  cmd/abigen/doc.go
Owners: @bitaholic

Removed klay binary (#3753)
  Makefile
  cmd/klay/doc.go
  cmd/klay/main.go
Owners: @bitaholic

proofread README.md (#3762)
  README.md
Owners: none

Updated p2p node type to networks node type
  cmd/kbn/main.go
  networks/p2p/peer.go
  networks/p2p/server.go
  networks/p2p/server_test.go
  params/bootnodes.go
  work/work.go
Owners: @bitaholic, @KimKyungup, @andybclee

Introduced ConnType on networks package
  cmd/utils/flags.go
  consensus/consensus.go
  consensus/istanbul/backend.go
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/handler.go
  consensus/protocol.go
  networks/node_params.go
  networks/p2p/peer.go
  networks/p2p/rlpx.go
  networks/p2p/server.go
  networks/p2p/server_test.go
  node/cn/backend.go
  node/cn/handler.go
  node/cn/peer.go
  node/sc/bridgepeer.go
  node/service.go
  params/bootnodes.go
  work/agent.go
  work/work.go
  work/worker.go
Owners: @bitaholic, @andybclee, @KimKyungup

Introduced new parameters nodetype
  params/node_params.go
Owners: @andybclee

Removed unnecessary convert function
  cmd/utils/flags.go
Owners: @bitaholic

Removed ConnType from node.go
  node/node.go
Owners: @KimKyungup

Removed type ConnType from server.go
  networks/p2p/server.go
Owners: @KimKyungup

Removed ConnType from server.go
  networks/p2p/server.go
Owners: @KimKyungup

Changed node type from node package to networks package
  cmd/utils/flags.go
  consensus/istanbul/backend/handler.go
  consensus/istanbul/core/core.go
  consensus/istanbul/core/handler.go
  consensus/istanbul/core/roundchange.go
  node/cn/backend.go
  node/cn/handler.go
  node/cn/peer.go
  tests/hard_fork_test.go
  tests/klay_test_blockchain_test.go
  tests/pregenerated_data_util_test.go
  work/agent.go
  work/worker.go
Owners: @bitaholic, @andybclee, @KimKyungup, @kjhman21

Moved convert function from conntype to nodetype
  cmd/kbn/main.go
  networks/node_params.go
  networks/p2p/server.go
Owners: @bitaholic, @KimKyungup

Updated ToLower to ToUpper
  networks/node_params.go
Owners: @KimKyungup

Removed convert conntype functions
  networks/p2p/server.go
Owners: @KimKyungup

tmp comment out big int library injection
  node/cn/tracers/tracer.go
Owners: @KimKyungup

blocking block processing by block number for debugging
  blockchain/blockchain.go
Owners: @kjhman21

744444
  blockchain/blockchain.go
Owners: @kjhman21

Implemented Test Tracer to compare internal tx tracer go version with js version
  blockchain/blockchain.go
  blockchain/vm/evm.go
  blockchain/vm/internal/tracers/4byte_tracer.js
  blockchain/vm/internal/tracers/assets.go
  blockchain/vm/internal/tracers/call_tracer.js
  blockchain/vm/internal/tracers/evmdis_tracer.js
  blockchain/vm/internal/tracers/noop_tracer.js
  blockchain/vm/internal/tracers/opcount_tracer.js
  blockchain/vm/internal/tracers/prestate_tracer.js
  blockchain/vm/internal/tracers/revert_tracer.js
  blockchain/vm/internal/tracers/tracers.go
  blockchain/vm/internaltx_tracer.go
  blockchain/vm/interpreter.go
  blockchain/vm/logger.go
  blockchain/vm/test_tracer.go
  blockchain/vm/testdata/call_tracer_create.json
  blockchain/vm/testdata/call_tracer_deep_calls.json
  blockchain/vm/testdata/call_tracer_delegatecall.json
  blockchain/vm/testdata/call_tracer_inner_throw_outer_revert.json
  blockchain/vm/testdata/call_tracer_revert.json
  blockchain/vm/testdata/call_tracer_revert_a.json
  blockchain/vm/testdata/call_tracer_simple.json
  blockchain/vm/testdata/call_tracer_throw.json
  blockchain/vm/tracer.go
  blockchain/vm/tracer_test.go
  blockchain/vm/tracers.go
  blockchain/vm/tracers/doc.go
  blockchain/vm/tracers_test.go
  go.mod
  go.sum
  node/cn/api_tracer.go
  work/worker.go
Owners: @kjhman21, @KimKyungup, @andybclee

Added metrics for processing time
  blockchain/blockchain.go
  blockchain/metrics.go
Owners: @kjhman21

Test for Javascript call tracer
  blockchain/blockchain.go
  blockchain/metrics.go
  blockchain/vm/evm.go
  blockchain/vm/internal/tracers/4byte_tracer.js
  blockchain/vm/internal/tracers/assets.go
  blockchain/vm/internal/tracers/call_tracer.js
  blockchain/vm/internal/tracers/evmdis_tracer.js
  blockchain/vm/internal/tracers/noop_tracer.js
  blockchain/vm/internal/tracers/opcount_tracer.js
  blockchain/vm/internal/tracers/prestate_tracer.js
  blockchain/vm/internal/tracers/revert_tracer.js
  blockchain/vm/internal/tracers/tracers.go
  blockchain/vm/interpreter.go
  blockchain/vm/logger.go
  blockchain/vm/testdata/call_tracer_create.json
  blockchain/vm/testdata/call_tracer_deep_calls.json
  blockchain/vm/testdata/call_tracer_delegatecall.json
  blockchain/vm/testdata/call_tracer_inner_throw_outer_revert.json
  blockchain/vm/testdata/call_tracer_revert.json
  blockchain/vm/testdata/call_tracer_revert_a.json
  blockchain/vm/testdata/call_tracer_simple.json
  blockchain/vm/testdata/call_tracer_throw.json
  blockchain/vm/tracer.go
  blockchain/vm/tracer_test.go
  blockchain/vm/tracers.go
  blockchain/vm/tracers_test.go
  node/cn/api_tracer.go
  node/cn/tracers/doc.go
Owners: @kjhman21, @KimKyungup

solidity version is updated into 0.5.6 and add a script to generate abi file
  contracts/generate.go
  contracts/kip13/InterfaceIdentifier.sol
Owners: @andybclee

Pull up the handling error function for code readibility
  datasync/chaindatafetcher/kas/contract_caller.go
Owners: @ehnuje

Removed unintended comments
  datasync/chaindatafetcher/kas/repository_contracts.go
Owners: @ehnuje

Added testcases for contracts insertion
  datasync/chaindatafetcher/kas/contract_caller.go
  datasync/chaindatafetcher/kas/contract_caller_test.go
  datasync/chaindatafetcher/kas/mocks/blockchain_api_mock.go
  datasync/chaindatafetcher/kas/repository.go
  datasync/chaindatafetcher/kas/repository_contracts.go
  datasync/chaindatafetcher/kas/repository_contracts_test.go
Owners: @ehnuje

Implemented KAS repoistory to load contracts data
  contracts/kip13/InterfaceIdentifier.go
  contracts/kip13/InterfaceIdentifier.sol
  datasync/chaindatafetcher/chaindata_fetcher.go
  datasync/chaindatafetcher/kas/contract_caller.go
  datasync/chaindatafetcher/kas/model.go
  datasync/chaindatafetcher/kas/repository.go
  datasync/chaindatafetcher/kas/repository_contracts.go
  datasync/chaindatafetcher/repository.go
Owners: @andybclee, @ehnuje

Added licenses
  datasync/chaindatafetcher/kas/contract_caller.go
  datasync/chaindatafetcher/kas/repository_contracts.go
Owners: @ehnuje

tmp
  datasync/chaindatafetcher/kas/contract_caller2.go
  datasync/chaindatafetcher/kas/contract_caller_test.go
Owners: @ehnuje

tmptmp
  datasync/chaindatafetcher/chaindata_fetcher.go
  datasync/chaindatafetcher/kas/contract_caller.go
  datasync/chaindatafetcher/kas/contract_caller2.go
  datasync/chaindatafetcher/kas/repository.go
  datasync/chaindatafetcher/kas/repository_contracts.go
  datasync/chaindatafetcher/kas/repository_traces.go
Owners: @ehnuje

Introduced request type structure
  datasync/chaindatafetcher/chaindata_fetcher.go
  datasync/chaindatafetcher/types.go
  datasync/chaindatafetcher/types_test.go
Owners: @ehnuje

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

/.circleci/        @bitaholic
/.github/          @bitaholic
/accounts/         @kjhman21
/api/              @kjhman21
/blockchain/       @kjhman21
/build/*           @hqueue
/build/rpm/        @bitaholic
/client/           @KimKyungup
/cmd/              @bitaholic
/common/           @andybclee
/consensus/        @andybclee
/console/          @andybclee
/contracts/        @andybclee
/crypto/           @andybclee
/datasync/         @ehnuje
/event/            @bitaholic
/log/              @ehnuje
/metrics/          @bitaholic
/networks/         @KimKyungup
/node/             @KimKyungup
/params/           @andybclee
/params/version.go @bitaholic
/ser/              @kjhman21
/storage/          @ehnuje
/tests/            @kjhman21
/utils/            @bitaholic
/vendor/           @bitaholic
/Gopkg.lock        @bitaholic
/Gopkg.toml        @bitaholic
/work/             @andybclee
/.dockerignore     @bitaholic
/.gitignore        @bitaholic
/Dockerfile/       @bitaholic
/interface.go/     @smseo
/README.md/        @smseo

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
