Repository jeongkyun-oh/klaytn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bitaholic, @kjhman21, @hqueue, @KimKyungup, @andybclee, @ehnuje, @smseo

Updated addValidator/removeValidator function
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Fixed bug
  consensus/istanbul/validator/validator.go
Owners: @andybclee

Updated minimum staking flag to work
  blockchain/genesis.go
  cmd/utils/nodecmd/chaincmd.go
  governance/default.go
  governance/default_test.go
  governance/handler.go
  params/governance_params.go
  params/governance_params_test.go
Owners: @kjhman21, @bitaholic, @andybclee

Updated addvalidator/removevalidator
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added demoted validators to snapshot persistence
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Implemented demoted validators for minimum staking
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/core/handler_test.go
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/validator.go
  consensus/istanbul/validator/weighted.go
  consensus/istanbul/validator/weighted_random_test.go
  consensus/istanbul/validator/weighted_test.go
  governance/default_test.go
Owners: @andybclee

Updated minimum staking test
  governance/default.go
  governance/default_test.go
Owners: none

Updated validator/candidates instead of demotedValidators
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/core/handler_test.go
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/validator.go
  consensus/istanbul/validator/weighted.go
  consensus/istanbul/validator/weighted_random_test.go
  governance/default_test.go
Owners: @andybclee

Updated addvalidator/removevalidator
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added hard-fork logic for refresh method
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Make minimum staking vote working
  governance/default.go
  governance/default_test.go
Owners: none

Added demoted validators to snapshot persistence
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Implemented demoted validators for minimum staking
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/core/handler_test.go
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/validator.go
  consensus/istanbul/validator/weighted.go
  consensus/istanbul/validator/weighted_random_test.go
  consensus/istanbul/validator/weighted_test.go
  governance/default_test.go
Owners: @andybclee

Updated minimum staking flag to work
  blockchain/genesis.go
  cmd/utils/nodecmd/chaincmd.go
  governance/default.go
  governance/default_test.go
  governance/handler.go
  params/governance_params.go
  params/governance_params_test.go
Owners: @kjhman21, @bitaholic, @andybclee

Fixed bug
  consensus/istanbul/validator/validator.go
Owners: @andybclee

Added governing node to validators although it has not enough KLAYs
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added hard-fork logic for refresh method
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Updated addvalidator/removevalidator
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Implemented demoted validators for minimum staking
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/core/handler_test.go
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/validator.go
  consensus/istanbul/validator/weighted.go
  consensus/istanbul/validator/weighted_random_test.go
  consensus/istanbul/validator/weighted_test.go
  governance/default_test.go
Owners: @andybclee

Make minimum staking vote working
  governance/default.go
  governance/default_test.go
Owners: none

Added demoted validators to snapshot persistence
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Updated minimum staking flag to work
  blockchain/genesis.go
  cmd/utils/nodecmd/chaincmd.go
  governance/default.go
  governance/default_test.go
  governance/handler.go
  params/governance_params.go
  params/governance_params_test.go
Owners: @kjhman21, @bitaholic, @andybclee

Fixed bug
  consensus/istanbul/validator/validator.go
Owners: @andybclee

Added governing node to validators although it has not enough KLAYs
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added demoted interface to validator set
  consensus/istanbul/backend/handler.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Make minimum staking vote working
  governance/default.go
  governance/default_test.go
Owners: none

Reflected the review from Melvin
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Simplified incompatible change logic
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Add demoted validator as valid peer
  consensus/istanbul/backend/handler.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added demoted validators to snapshot persistence
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added hard-fork logic for refresh method
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Fixed bug
  consensus/istanbul/validator/validator.go
Owners: @andybclee

Updated addvalidator/removevalidator
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Implemented demoted validators for minimum staking
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/core/handler_test.go
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/validator.go
  consensus/istanbul/validator/weighted.go
  consensus/istanbul/validator/weighted_random_test.go
  consensus/istanbul/validator/weighted_test.go
  governance/default_test.go
Owners: @andybclee

Updated minimum staking flag to work
  blockchain/genesis.go
  cmd/utils/nodecmd/chaincmd.go
  governance/default.go
  governance/default_test.go
  governance/handler.go
  params/governance_params.go
  params/governance_params_test.go
Owners: @kjhman21, @bitaholic, @andybclee

Moved Refresh method to apply
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/snapshot.go
Owners: @andybclee

Added comments
  consensus/istanbul/backend/backend.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Moved Refresh method to apply
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/snapshot.go
Owners: @andybclee

Reduced max headers/results to test
  datasync/downloader/downloader.go
Owners: @ehnuje

restrict the number of verifying headers to ensure the staking information block is inserted
  consensus/istanbul/backend/engine.go
Owners: @andybclee

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

/.circleci/        @bitaholic
/.github/          @bitaholic
/accounts/         @kjhman21
/api/              @kjhman21
/blockchain/       @kjhman21
/build/*           @hqueue
/build/rpm/        @bitaholic
/client/           @KimKyungup
/cmd/              @bitaholic
/common/           @andybclee
/consensus/        @andybclee
/console/          @andybclee
/contracts/        @andybclee
/crypto/           @andybclee
/datasync/         @ehnuje
/event/            @bitaholic
/log/              @ehnuje
/metrics/          @bitaholic
/networks/         @KimKyungup
/node/             @KimKyungup
/params/           @andybclee
/params/version.go @bitaholic
/ser/              @kjhman21
/storage/          @ehnuje
/tests/            @kjhman21
/utils/            @bitaholic
/vendor/           @bitaholic
/Gopkg.lock        @bitaholic
/Gopkg.toml        @bitaholic
/work/             @andybclee
/.dockerignore     @bitaholic
/.gitignore        @bitaholic
/Dockerfile/       @bitaholic
/interface.go/     @smseo
/README.md/        @smseo

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
