Repository jeongkyun-oh/klaytn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bitaholic, @kjhman21, @hqueue, @KimKyungup, @andybclee, @ehnuje, @smseo

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

/.circleci/        @bitaholic
/.github/          @bitaholic
/accounts/         @kjhman21
/api/              @kjhman21
/blockchain/       @kjhman21
/build/*           @hqueue
/build/rpm/        @bitaholic
/client/           @KimKyungup
/cmd/              @bitaholic
/common/           @andybclee
/consensus/        @andybclee
/console/          @andybclee
/contracts/        @andybclee
/crypto/           @andybclee
/datasync/         @ehnuje
/event/            @bitaholic
/log/              @ehnuje
/metrics/          @bitaholic
/networks/         @KimKyungup
/node/             @KimKyungup
/params/           @andybclee
/params/version.go @bitaholic
/ser/              @kjhman21
/storage/          @ehnuje
/tests/            @kjhman21
/utils/            @bitaholic
/vendor/           @bitaholic
/Gopkg.lock        @bitaholic
/Gopkg.toml        @bitaholic
/work/             @andybclee
/.dockerignore     @bitaholic
/.gitignore        @bitaholic
/Dockerfile/       @bitaholic
/interface.go/     @smseo
/README.md/        @smseo

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

tmp
  blockchain/blockchain.go
  blockchain/vm/internaltx_tracer.go
Owners: @kjhman21

poc
  cmd/utils/nodecmd/dumpconfigcmd.go
  datasync/chaindatafetcher/chaindata_fetcher.go
  datasync/chaindatafetcher/common/common.go
  datasync/chaindatafetcher/event/event.go
  datasync/chaindatafetcher/event/event_publish.go
  datasync/chaindatafetcher/event/event_subscribe.go
  datasync/chaindatafetcher/event/factory/event_factory.go
  datasync/chaindatafetcher/event/kafka/consumer.go
  datasync/chaindatafetcher/event/kafka/kafka.go
  datasync/chaindatafetcher/repository.go
  go.mod
  go.sum
  kafka-compose.yaml
Owners: @bitaholic, @ehnuje

Refactored chaindatafetcher
  datasync/chaindatafetcher/api.go
  datasync/chaindatafetcher/chaindata_fetcher.go
  datasync/chaindatafetcher/chaindata_fetcher_test.go
  datasync/chaindatafetcher/kas/repository.go
  datasync/chaindatafetcher/mocks/repository_mock.go
  datasync/chaindatafetcher/repository.go
  datasync/chaindatafetcher/types.go
  datasync/chaindatafetcher/types/types.go
  datasync/chaindatafetcher/types/types_test.go
Owners: @ehnuje

Added kafka config and kafka repository
  cmd/utils/flags.go
  cmd/utils/nodecmd/dumpconfigcmd.go
  cmd/utils/nodecmd/nodeflags.go
  datasync/chaindatafetcher/config.go
  datasync/chaindatafetcher/kafka/config.go
  datasync/chaindatafetcher/kafka/repository.go
  datasync/chaindatafetcher/kafka/utils.go
Owners: @bitaholic, @ehnuje

Added data transformation functions
  datasync/chaindatafetcher/kafka/utils.go
Owners: @ehnuje

Implemented Kafka client
  build/ci.go
  datasync/chaindatafetcher/doc.go
  datasync/chaindatafetcher/kafka/config.go
  datasync/chaindatafetcher/kafka/doc.go
  datasync/chaindatafetcher/kafka/kafka.go
  datasync/chaindatafetcher/kafka/kafka_test.go
  go.mod
  go.sum
Owners: @hqueue, @ehnuje

Removed unnecessary error assignment
  datasync/chaindatafetcher/kafka/kafka.go
Owners: @ehnuje

Added DeleteTopic/ListTopic methods for consistency
  datasync/chaindatafetcher/kafka/kafka.go
  datasync/chaindatafetcher/kafka/kafka_test.go
Owners: @ehnuje

Added Close function
  datasync/chaindatafetcher/kafka/kafka.go
  datasync/chaindatafetcher/kafka/kafka_test.go
Owners: @ehnuje

Refactored kafka configuration
  datasync/chaindatafetcher/kafka/config.go
  datasync/chaindatafetcher/kafka/kafka.go
  datasync/chaindatafetcher/kafka/kafka_test.go
Owners: @ehnuje

Make public method to private
  datasync/chaindatafetcher/kafka/config.go
  datasync/chaindatafetcher/kafka/kafka_test.go
Owners: @ehnuje

Removed unnecessary function
  datasync/chaindatafetcher/kafka/kafka_test.go
Owners: @ehnuje

Refactored publish method
  datasync/chaindatafetcher/kafka/kafka.go
Owners: @ehnuje

tmp
  cmd/utils/flags.go
  cmd/utils/nodecmd/dumpconfigcmd.go
  cmd/utils/nodecmd/nodeflags.go
  datasync/chaindatafetcher/chaindata_fetcher.go
  datasync/chaindatafetcher/config.go
  datasync/chaindatafetcher/kafka/config.go
  datasync/chaindatafetcher/kafka/kafka.go
  datasync/chaindatafetcher/kafka/kafka_test.go
  datasync/chaindatafetcher/kafka/repository.go
  datasync/chaindatafetcher/kafka/utils.go
  datasync/chaindatafetcher/metrics.go
  datasync/chaindatafetcher/types/types.go
  go.sum
  node/cn/backend.go
Owners: @bitaholic, @ehnuje, @KimKyungup

Updated checkpoint logic
  datasync/chaindatafetcher/chaindata_fetcher.go
  datasync/chaindatafetcher/chaindata_fetcher_test.go
Owners: @ehnuje

Updated checkpoint logic
  datasync/chaindatafetcher/chaindata_fetcher.go
  datasync/chaindatafetcher/chaindata_fetcher_test.go
Owners: @ehnuje

tmp2
  kafka_client/main.go
Owners: none

maosie
  datasync/chaindatafetcher/kafka/consumer.go
Owners: @ehnuje

ttt
  datasync/chaindatafetcher/kafka/consumer.go
Owners: @ehnuje

ttt
  datasync/chaindatafetcher/kafka/consumer.go
  kafka_client/main.go
Owners: @ehnuje

tttm
  datasync/chaindatafetcher/kafka/consumer.go
Owners: @ehnuje

tmp
  kafka_client/main.go
Owners: none

aoisjfa
  kafka_client/main.go
Owners: none

tmp
  kafka_client/main.go
Owners: none

ttt
  kafka_client/main.go
Owners: none

tmp2
  kafka_client/main.go
Owners: none

ttt
  datasync/chaindatafetcher/kafka/consumer.go
Owners: @ehnuje

fix possible data race by inconsistent field protection
  datasync/downloader/queue.go
Owners: @ehnuje

Added test logs
  node/cn/handler.go
Owners: @KimKyungup

ttt
  node/cn/handler.go
Owners: @KimKyungup

ttt
  datasync/downloader/downloader.go
  datasync/downloader/queue.go
  datasync/fetcher/fetcher.go
Owners: @ehnuje

ttt
  datasync/downloader/downloader.go
  node/cn/handler.go
Owners: @ehnuje, @KimKyungup

ttt
  node/cn/handler_msg_test.go
Owners: @KimKyungup

ttt
  datasync/downloader/downloader.go
Owners: @ehnuje

ttt
  node/cn/peer.go
Owners: @KimKyungup

Seperate tx channel and added a tx hander goroutine
  node/cn/peer.go
Owners: @KimKyungup

ttt
  node/cn/peer.go
Owners: @KimKyungup

ttt
  node/cn/handler.go
  node/cn/peer.go
Owners: @KimKyungup

Divide downloader channel
  node/cn/channel_manager.go
  node/cn/peer.go
Owners: @KimKyungup

Added ethereum PR + divide downloader channel
  datasync/fetcher/fetcher.go
  node/cn/channel_manager.go
  node/cn/handler.go
  node/cn/peer.go
Owners: @ehnuje, @KimKyungup
