Repository jeongkyun-oh/klaytn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bitaholic, @kjhman21, @hqueue, @KimKyungup, @andybclee, @ehnuje, @smseo

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

/.circleci/        @bitaholic
/.github/          @bitaholic
/accounts/         @kjhman21
/api/              @kjhman21
/blockchain/       @kjhman21
/build/*           @hqueue
/build/rpm/        @bitaholic
/client/           @KimKyungup
/cmd/              @bitaholic
/common/           @andybclee
/consensus/        @andybclee
/console/          @andybclee
/contracts/        @andybclee
/crypto/           @andybclee
/datasync/         @ehnuje
/event/            @bitaholic
/log/              @ehnuje
/metrics/          @bitaholic
/networks/         @KimKyungup
/node/             @KimKyungup
/params/           @andybclee
/params/version.go @bitaholic
/ser/              @kjhman21
/storage/          @ehnuje
/tests/            @kjhman21
/utils/            @bitaholic
/vendor/           @bitaholic
/Gopkg.lock        @bitaholic
/Gopkg.toml        @bitaholic
/work/             @andybclee
/.dockerignore     @bitaholic
/.gitignore        @bitaholic
/Dockerfile/       @bitaholic
/interface.go/     @smseo
/README.md/        @smseo

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Do more jobs in parallel
  datasync/downloader/peer.go
Owners: @ehnuje

Removed break insertedFailed
  datasync/fetcher/fetcher.go
Owners: @ehnuje

test
  datasync/fetcher/fetcher.go
Owners: @ehnuje

test
  datasync/fetcher/fetcher.go
Owners: @ehnuje

version up fast http
  go.sum
  networks/rpc/http.go
  networks/rpc/websocket.go
Owners: @KimKyungup

kbn compile update
  cmd/kbn/node.go
Owners: @bitaholic

set default fast http
  cmd/utils/flags.go
Owners: @bitaholic

Update gen_config.go
  node/sc/gen_config.go
Owners: @KimKyungup

updated go mod
  cmd/kbn/config.go
  cmd/kbn/main.go
  cmd/kbn/node.go
  go.mod
  go.sum
  networks/rpc/endpoints.go
  networks/rpc/http.go
  networks/rpc/websocket.go
  node/cn/gen_config.go
  node/config.go
  node/defaults.go
  node/node.go
  node/utils.go
Owners: @bitaholic, @KimKyungup

hot-fix for CREATE2 opcode
  datasync/chaindatafetcher/kas/repository_traces.go
Owners: @ehnuje

Added timeout for http/fasthttp server
  cmd/kbn/config.go
  cmd/kbn/main.go
  cmd/kbn/node.go
  go.mod
  go.sum
  networks/rpc/endpoints.go
  networks/rpc/http.go
  networks/rpc/websocket.go
  node/config.go
  node/defaults.go
  node/node.go
  node/utils.go
Owners: @bitaholic, @KimKyungup

Added testcase for http server timeout
  networks/rpc/http_test.go
Owners: @KimKyungup

test
  consensus/istanbul/config.go
Owners: @andybclee

Added sleep when blocknumber > 10 and round 0
  common/big.go
  consensus/istanbul/core/core.go
Owners: @andybclee

Added a API for neighbors
  api/api_public_net.go
  console/web3ext/web3ext.go
  networks/p2p/discover/table.go
Owners: @kjhman21, @andybclee, @KimKyungup

Updated snapshot creation logic for demoted validators
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/validator/validator.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Fixed testcases
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/core/handler_test.go
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/weighted_random_test.go
  consensus/istanbul/validator/weighted_test.go
  governance/default_test.go
Owners: @andybclee

Implemented to work minimum staking vote
  blockchain/genesis.go
  cmd/utils/nodecmd/chaincmd.go
  consensus/istanbul/validator/validator.go
  governance/default.go
  governance/handler.go
  params/config.go
  params/governance_params.go
Owners: @kjhman21, @bitaholic, @andybclee

Added logic to filter those who do not have minimum staking amount of KLAY
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added test case
  params/governance_params_test.go
Owners: @andybclee

Added some comments
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

test
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Fixed a bug
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

test2
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator/weighted.go
  governance/default.go
  params/governance_params.go
Owners: @andybclee

Added some comments
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Updated snapshot creation logic for demoted validators
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/validator/validator.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added logic to filter those who do not have minimum staking amount of KLAY
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Fixed a bug
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added test case
  params/governance_params_test.go
Owners: @andybclee

Make minimum staking vote forbidden
  governance/default.go
Owners: none

Fixed testcases
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/core/handler_test.go
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/weighted_random_test.go
  consensus/istanbul/validator/weighted_test.go
  governance/default_test.go
Owners: @andybclee

test
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Fixed testcase
  governance/default_test.go
Owners: none

Updated some comments
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Implemented to work minimum staking vote
  blockchain/genesis.go
  cmd/utils/nodecmd/chaincmd.go
  consensus/istanbul/validator/validator.go
  governance/default.go
  governance/handler.go
  params/config.go
  params/governance_params.go
Owners: @kjhman21, @bitaholic, @andybclee

Added nil check logic
  blockchain/genesis.go
  params/config.go
Owners: @kjhman21, @andybclee

Refactoring
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Renamed demoted to demotedValidators and added some comments
  consensus/istanbul/backend/engine.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/multi_staking_test.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Move uint64 conversion out of the for loop
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Substitute nil with empty slice
  consensus/istanbul/validator/weighted.go
Owners: @andybclee
