Repository jeongkyun-oh/klaytn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bitaholic, @kjhman21, @hqueue, @KimKyungup, @andybclee, @ehnuje, @smseo

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

/.circleci/        @bitaholic
/.github/          @bitaholic
/accounts/         @kjhman21
/api/              @kjhman21
/blockchain/       @kjhman21
/build/*           @hqueue
/build/rpm/        @bitaholic
/client/           @KimKyungup
/cmd/              @bitaholic
/common/           @andybclee
/consensus/        @andybclee
/console/          @andybclee
/contracts/        @andybclee
/crypto/           @andybclee
/datasync/         @ehnuje
/event/            @bitaholic
/log/              @ehnuje
/metrics/          @bitaholic
/networks/         @KimKyungup
/node/             @KimKyungup
/params/           @andybclee
/params/version.go @bitaholic
/ser/              @kjhman21
/storage/          @ehnuje
/tests/            @kjhman21
/utils/            @bitaholic
/vendor/           @bitaholic
/Gopkg.lock        @bitaholic
/Gopkg.toml        @bitaholic
/work/             @andybclee
/.dockerignore     @bitaholic
/.gitignore        @bitaholic
/Dockerfile/       @bitaholic
/interface.go/     @smseo
/README.md/        @smseo

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Simplify promote governing node method
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Added handling error logic
  consensus/istanbul/backend/snapshot.go
Owners: @andybclee

updated unittests to compare objects instead of checking existence
  consensus/istanbul/backend/engine_test.go
Owners: @andybclee

fixed linter
  consensus/istanbul/backend/engine_test.go
Owners: @andybclee

added governing node test in single mode
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/backend/engine_test.go
Owners: @andybclee

added test cases
  consensus/istanbul/validator/weighted_test.go
Owners: @andybclee

Updated governing node to be a validator all the time
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
Owners: @andybclee

Updated logic to filter governing node
  consensus/istanbul/backend/snapshot.go
  consensus/istanbul/validator.go
  consensus/istanbul/validator/default.go
  consensus/istanbul/validator/weighted.go
  governance/handler.go
Owners: @andybclee

increased test interval for epoch, staking/proposer update interval
  cmd/homi/setup/cmd.go
Owners: @bitaholic

impl tmp
  common/bytes.go
  log/log_modules.go
  snapshot/account.go
  snapshot/conversion.go
  snapshot/difflayer.go
  snapshot/disklayer.go
  snapshot/generate.go
  snapshot/iterator.go
  snapshot/iterator_fast.go
  snapshot/journal.go
  snapshot/snapshot.go
  snapshot/sort.go
  snapshot/wipe.go
  storage/database/accessors_snapshot.go
  storage/database/accessors_state.go
  storage/database/interface.go
  storage/database/schema.go
  storage/statedb/encoding.go
  storage/statedb/iterator.go
  storage/statedb/proof.go
  storage/statedb/stacktrie.go
Owners: @andybclee, @ehnuje

snapshot: Ethereum to Klaytn
  snapshot/snapshot.go
Owners: none

database: update dbConfigRatio
  storage/database/db_manager.go
Owners: @ehnuje

first snapshot pkg porting
  common/bytes.go
  log/log_modules.go
  networks/p2p/simulations/examples/ping-pong.go
  snapshot/account.go
  snapshot/conversion.go
  snapshot/difflayer.go
  snapshot/difflayer_test.go
  snapshot/disklayer.go
  snapshot/disklayer_test.go
  snapshot/generate.go
  snapshot/generate_test.go
  snapshot/iterator.go
  snapshot/iterator_binary.go
  snapshot/iterator_fast.go
  snapshot/iterator_test.go
  snapshot/journal.go
  snapshot/snapshot.go
  snapshot/snapshot_test.go
  snapshot/sort.go
  snapshot/wipe.go
  snapshot/wipe_test.go
  storage/database/badger_database.go
  storage/database/db_manager.go
  storage/database/db_manager_stakinginfo.go
  storage/database/db_manager_test.go
  storage/database/db_migration.go
  storage/database/dynamodb.go
  storage/database/interface.go
  storage/database/leveldb_database.go
  storage/database/schema.go
  storage/database/sharded_database.go
  storage/database/snapshot_manager.go
Owners: @andybclee, @ehnuje, @KimKyungup

snapshot: fixed wrong use of key prefix
  snapshot/iterator.go
Owners: none

snapshot: fixed wrong use of key prefix
  snapshot/wipe.go
  snapshot/wipe_test.go
Owners: none

snapshot: fixed typos
  snapshot/difflayer.go
  snapshot/journal.go
  snapshot/snapshot.go
  snapshot/wipe.go
Owners: none

tmp
  blockchain/state/journal.go
  blockchain/state/state_object.go
  blockchain/state/statedb.go
  crypto/crypto.go
Owners: @kjhman21, @andybclee

Added receipt nil check logic
  datasync/chaindatafetcher/chaindata_fetcher.go
Owners: @ehnuje

Reflected the review from Winnie
  datasync/chaindatafetcher/chaindata_fetcher.go
Owners: @ehnuje

Updated WriteCheckpoint API
  datasync/chaindatafetcher/api.go
Owners: @ehnuje

Update datasync/chaindatafetcher/api.go
  datasync/chaindatafetcher/api.go
Owners: @ehnuje

Fixed config API
  datasync/chaindatafetcher/config.go
  datasync/chaindatafetcher/kafka/config.go
Owners: @ehnuje

Updated Kafka message
  cmd/utils/flaggroup.go
  cmd/utils/flags.go
  cmd/utils/nodecmd/dumpconfigcmd.go
  cmd/utils/nodecmd/nodeflags.go
  datasync/chaindatafetcher/kafka/config.go
  datasync/chaindatafetcher/kafka/consumer.go
  datasync/chaindatafetcher/kafka/kafka.go
Owners: @bitaholic, @ehnuje

Updated unit tests
  datasync/chaindatafetcher/kafka/consumer_test.go
  datasync/chaindatafetcher/kafka/kafka_test.go
Owners: @ehnuje

Updated string method for KafkaConfig
  datasync/chaindatafetcher/kafka/config.go
Owners: @ehnuje

Detached legacy constant from iota constants
  datasync/chaindatafetcher/kafka/kafka.go
Owners: @ehnuje

Removed version/producerId from params
  datasync/chaindatafetcher/kafka/kafka.go
  datasync/chaindatafetcher/kafka/kafka_test.go
Owners: @ehnuje

fixed testcase
  datasync/chaindatafetcher/kafka/kafka_test.go
Owners: @ehnuje

Used headerLen
  datasync/chaindatafetcher/kafka/consumer.go
Owners: @ehnuje

Updated chaindatafetcher logger
  datasync/chaindatafetcher/kafka/consumer.go
Owners: @ehnuje

Updated logger to print to stdout as default
  datasync/chaindatafetcher/kafka/consumer.go
Owners: @ehnuje

Updated hard-coded loglevel with stdlogger
  datasync/chaindatafetcher/kafka/consumer.go
Owners: @ehnuje

Updated sarama libaray version
  datasync/chaindatafetcher/kafka/config.go
  go.mod
  go.sum
Owners: @ehnuje

first snapshot pkg porting
  common/bytes.go
  log/log_modules.go
  networks/p2p/simulations/examples/ping-pong.go
  snapshot/account.go
  snapshot/conversion.go
  snapshot/difflayer.go
  snapshot/difflayer_test.go
  snapshot/disklayer.go
  snapshot/disklayer_test.go
  snapshot/generate.go
  snapshot/generate_test.go
  snapshot/iterator.go
  snapshot/iterator_binary.go
  snapshot/iterator_fast.go
  snapshot/iterator_test.go
  snapshot/journal.go
  snapshot/snapshot.go
  snapshot/snapshot_test.go
  snapshot/sort.go
  snapshot/wipe.go
  snapshot/wipe_test.go
  storage/database/badger_database.go
  storage/database/db_manager.go
  storage/database/db_manager_stakinginfo.go
  storage/database/db_manager_test.go
  storage/database/db_migration.go
  storage/database/dynamodb.go
  storage/database/interface.go
  storage/database/leveldb_database.go
  storage/database/schema.go
  storage/database/sharded_database.go
  storage/database/snapshot_manager.go
Owners: @andybclee, @ehnuje, @KimKyungup

snapshot: fixed typos
  snapshot/difflayer.go
  snapshot/journal.go
  snapshot/snapshot.go
  snapshot/wipe.go
Owners: none

snapshot: Ethereum to Klaytn
  snapshot/snapshot.go
Owners: none

database: update dbConfigRatio
  storage/database/db_manager.go
Owners: @ehnuje

snapshot: fixed wrong use of key prefix
  snapshot/wipe.go
  snapshot/wipe_test.go
Owners: none

snapshot: fixed wrong use of key prefix
  snapshot/iterator.go
Owners: none
